@import "tailwindcss";

@theme {
  --font-orbitron: var(--font-orbitron);
  --font-rajdhani: var(--font-rajdhani);

  --color-lambo-black: #0f0f0f;
  --color-lambo-yellow: #FDC900;
  --color-lambo-orange: #FF9900;
  --color-carbon-gray: #2a2a2a;
}

body {
  background-color: var(--color-lambo-black);
  color: #ffffff;
}
